/* 
================================================================
 Tiny Scrollbar  questa viene usata nella catalogo  
                 questo css è l'ultima versione funzionante. 


    (!) -- assicurarsi che siano presenti più righe di quello che il 
           div può permettersi di visualizzare.

=================================================================
*/

#scrollbar3 { width: 826px; margin: 0px; z-index: 3; top: 42px; position: absolute; background-color: #e7d6ae; z-index: 10;}

#scrollbar3 .viewport { width: 650px; height: 580px; overflow: hidden; position: relative; z-index: 10;  }

#scrollbar3 .overview { list-style: none; position: absolute; left: 0px; top: 0px; padding: 0; margin: 0; z-index:10; }

#scrollbar3 .scrollbar { background: transparent url(/AppImg/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 1px; z-index: 10; }

#scrollbar3 .track { 
      background-color: #79b51c; 
      height: 100%; 
      width: 12px; 
      position: relative; 
      padding: 0 1px; 
      z-index: 10; 
}



#scrollbar3 .thumb { 
      background: url(/AppImg/bg-scrollbar-thumb-y.png);  
      width: 27px; 
      cursor: pointer; 
      overflow: hidden; 
      position: absolute; 
      top: 0px; 
      left: -12px; 
      z-index: 11;
}

#scrollbar3 .thumb .end { }

#scrollbar3 .disable { display: none; }

